{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

<div class="container">

    <h1>Admin Dashboard</h1>

    <h2>Dashboard Summary</h2>

    <p>Total Residents: {{ total_residents }}</p>
    <p>Total Apartments: {{ total_apartments }}</p>
    <p>Total Complaints: {{ total_complaints }}</p>
    <p>Total Payments: {{ total_payments }}</p>

    <h2>Admin Services</h2>

    <ul>
        <li>
            <a href="{% url 'manage_residents' %}">Manage Residents</a>
        </li>

        <li>
            <a href="{% url 'manage_apartments' %}">Manage Apartments</a>
        </li>

        <li>
            <a href="{% url 'admin_payments' %}">View Payments</a>
        </li>

        <li>
            <a href="{% url 'admin_complaints' %}">View Complaints</a>
        </li>

        <li>
            <a href="{% url 'admin_maintenance' %}">Manage Maintenance Team</a>
        </li>
    </ul>

    <br>
    <a href="/admin-logout/">Logout</a>


    <a href="{% url 'home' %}">Back to Home</a>

</div>

</body>
</html>