{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaints</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>My Complaints</h1>

        {% if complaints %}
            <table border="1">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>

                {% for complaint in complaints %}
                    <tr>
                        <td>{{ complaint.title }}</td>
                        <td>{{ complaint.description }}</td>
                        <td>{{ complaint.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No complaints found.</p>
        {% endif %}

        <br>

        <a href="{% url 'add_complaint' %}">Add Complaint</a>
        <br><br>

        <a href="{% url 'resident_dashboard' %}">
            Back to Dashboard
        </a>
    </div>
</body>
</html>