{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Kismet Abode</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body class="hero">

    <div class="hero">

        <div class="creative-logo">
    <div class="logo-symbol">K</div>
    <div class="logo-name">KISMET</div>
    <div class="logo-subtitle">ABODE</div>
</div>

        <h1>Welcome to Kismet Abode</h1>

        <p>Better Living • Together</p>

        <div class="home-buttons">
            <a href="{% url 'resident_login' %}">Resident Login</a>
            <a href="{% url 'admin_login' %}">Admin Login</a>
            <a href="{% url 'maintenance_login' %}">
                Maintenance Login
            </a>
        </div>

    </div>

</body>
</html>