{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Smart Society</title>

    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

    <h1>Smart Society</h1>
    <h2>Apartment Management System</h2>

    <p>
        Manage residents, complaints, payments and
        maintenance activities in one place.
    </p>

    <a href="/resident-login/">
        <button>Resident Login</button>
    </a>

    <a href="/admin-login/">
        <button>Admin Login</button>
    </a>
    <a href="/maintenance-login/">
        <button>Maintenance Login</button>
    </a>

</body>
</html>