{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Maintenance Login</title>

    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body class="login-page">

    <div class="login-container">

        <h1>Maintenance Login</h1>

        <form method="POST">

            {% csrf_token %}

            <label>Name:</label>
            <input type="text" name="name" required>

            <label>Phone:</label>
            <input type="text" name="phone" required>

            <button type="submit">Login</button>

        </form>

        <br>

        <a href="/">Back to Home</a>

    </div>

</body>

</html>