{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Resident Login</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body class="login-page">

    <div class="login-container">

        <h1>Resident Login</h1>

        <form action="{% url 'resident_login' %}" method="POST">

            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username"
                   placeholder="Enter Username" required>

            <label>Password:</label>
            <input type="password" name="password"
                   placeholder="Enter Password" required>

            <button type="submit">Login</button>

        </form>

        <a href="{% url 'home' %}">Back to Home</a>

    </div>

</body>
</html>