body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #f4f6f8;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
}

button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}